.rp-login-content {
    height: 100%;
    min-height: 100vh;
}
.rp-app-title {
    font-family: 'Homemade Apple', cursive;
    font-size: 5rem;
    color: #308eb0;
}
.rp-google-button {
    width: 250px;
    height: 42px;
    background-color: #4285f4;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
}
.rp-google-button .rp-social-icon {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: #ffffff;
}
.rp-google-button .rp-social-icon img {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
}
.rp-google-button span {
    float: right;
    margin: 11px 47px 0 0;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: 'Roboto';
}
.rp-google-button:hover {
    box-shadow: 0 0 6px #4285f4;
}
.rp-google-button:active {
    background: #1669f2;
}

.rp-facebook-button {
    width: 250px;
    height: 42px;
    background-color: #3b5998;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
    position: relative;
}
.rp-facebook-button .rp-social-icon {
    font-size: 22px;
    position: absolute;
    left: 18px;
    top: 10px;
    color: #ffffff;
}

.rp-facebook-button span {
    font-size: 14px;
    color: #ffffff;
    font-weight: 500;
    margin-left: 29px;
}
