.rp-form-content {
    height: 100%;
    min-height: 100vh;
}
.rp-form-title {
    font-family: 'Homemade Apple', cursive;
    font-size: 3rem;
    color: #308eb0;
    margin-bottom: 1em;
}
.rp-form-container input[type='text'],
.rp-form-container input[type='number'],
.rp-form-container input[type='email'],
.rp-form-container input[type='tel'],
.rp-form-container select {
    border: 1px solid #4b8eb0;
    background-color: #405057;
    color: #ffffff;
}
.rp-form-container .form-control::placeholder {
    color: rgba(255, 255, 255, 0.7);
}
.rp-form-container .form-control::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
}
.rp-form-container .form-control:-moz-placeholder {
    color: rgba(255, 255, 255, 0.7);
}
.rp-form-container .form-control::-moz-placeholder {
    color: rgba(255, 255, 255, 0.7);
}
.rp-form-container .form-control:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
}
.rp-form-container .form-control::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
}
.rp-form-container label {
    color: #262626;
    text-transform: capitalize;
    font-size: 1.1rem;
    font-family: 'Arial';
}
.rp-form-submitbutton {
    padding: 10px 40px;
    font-size: 1.1em;
}
.rp_next_btn {
    position: absolute;
    height: 50px;
    width: 50px;
    top: 20px;
    right: 20px;
    background-color: #308eb0;
    color: #ffffff;
    border-radius: 25px;
    border-width: 0px;
    font-size: 48px;
    line-height: 45px;
    text-align: center;
}
.rp_next_btn:hover,
.rp_next_btn:active {
    color: #308eb0;
    background-color: #405057;
}
.rp-required {
    color: #f00;
}
.rp-form-error {
    color: #fff;
    background: #f00;
}
@media only screen and (max-width: 575px) {
    .rp-form-title {
        font-size: 2rem;
        margin-bottom: 0;
    }
}
