.rp-list-content {
    height: 100%;
    min-height: 100vh;
}
.rp-list-title {
    font-family: 'Homemade Apple', cursive;
    font-size: 3rem;
    color: #308eb0;
    margin-bottom: 1em;
}
.rp-list-table-container {
    overflow-x: scroll;
}
.rp-list-table {
    background-color: #405057;
}
.rp_back_btn {
    position: absolute;
    height: 50px;
    width: 50px;
    top: 20px;
    left: 20px;
    background-color: #308eb0;
    color: #FFFFFF;
    border-radius: 25px;
    border-width: 0px;
    font-size: 48px;
    line-height: 45px;
    text-align: center;
}
.rp_back_btn:hover,
.rp_back_btn:active {
    color: #308eb0;
    background-color: #405057;
}

.rp_download_btn {
    position: absolute;
    height: 50px;
    width: 50px;
    top: 20px;
    right: 20px;
    background-color: #308eb0;
    color: #FFFFFF;
    border-radius: 25px;
    border-width: 0px;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
}
.rp_download_btn:hover,
.rp_download_btn:active {
    color: #308eb0;
    background-color: #405057;
}

@media only screen and (max-width: 575px) {
    .rp-list-title {
        font-size: 2rem;
        margin-bottom: 0;
        margin-top: 2rem;
    }
    .rp-list-table {
        margin-top:50px;
    }
}
