* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.rp-container {
    padding: 0;
    margin: 0;
    background-image: url('./assets/background.jpg');
}

.btn-primary:hover,
.btn-outline-primary:hover,
.btn-primary:active,
.btn-outline-primary:active {
    background-color: #337596;
}
.btn-primary {
    background-color: #4b8eb0;
    color: #ffffff;
}

.btn-outline-primary {
    border: 1px solid #4b8eb0;
    background-color: transparent;
    color: #4b8eb0;
}
